tensorflow==2.20.0       
numpy
scipy
pandas
matplotlib
seaborn
joblib
tqdm
mlflow>=2.9.0            
dvc
python-box>=7.0.0          
pyyaml
types-PyYAML
ensure>=1.0.2
gdown
notebook
Flask
Flask-Cors
-e .